.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black; 
    color: white; 
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 10px; 
  }
  
  .login-link {
    margin-left: auto; 
  }
  

 
  